<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <style type="text/css" >

        *, *::before, *::after{
            direction: rtl;
            font-family: tahoma, sans-serif, Aria;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .so-main-box{
            display: block;
            position: relative;
            width: 500px;
            max-height: 100%;
            min-height: 50px;
            padding: 25px;
            margin: 0 auto;
            line-height: 40px;
            border: 1px solid #ffcf4b;
            border-bottom-width: 2px;
            font-size: 11pt;
        }
        .so-main-box.so-primary{ border-color: #2980b9 }
        .so-main-box.so-success{ border-color: #1abc9c }
        .so-main-box.so-warning{ border-color: #ffcf4b }
        .so-main-box.so-danger { border-color: #FF7C6C }
        .so-divider{
            display: block;
            width: 100%;
            height: 1px;
            background-color: #d0d0d0;
        }
        #main-logo{
            display: block;
            position: relative;
            width: 120px;
            height: auto;
            margin: 10px auto;
            padding: 0;
        }
        #reset-password-image{
            display: block;
            float: left;
            width: 150px;
        }
        .so-btn-block{
            display: block;
            position: relative !important;
            margin: 10px auto;
            padding: 5px 10px;
            background-color: #2980b9;
            border: none;
            -webkit-border-radius: 0.3rem;
            -moz-border-radius: 0.3rem;
            border-radius: 0.3rem;
            line-height: 40px;
            max-width: 250px;
            height: 50px;
            text-align: center;
            text-decoration: none;
            color: white;
            cursor: pointer;
            vertical-align: middle;
            border-bottom: 3px solid #0057a0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .so-btn-block:active{
            border-bottom-width: 1px;
            padding-top: 6px;
        }
        .so-btn-block.so-primary{ background-color: #2980b9;border-color: #0057a0 }
        .so-btn-block.so-success{ background-color: #1abc9c;border-color: #16a085 }
        .so-btn-block.so-warning{ background-color: #ffcf4b;border-color: #F9BF3B }
        .so-btn-block.so-danger { background-color: #FF7C6C;border-color: #F75C4C }

        .so-panel{
            display: block;
            width: 100%;
            min-height: 50px;
            margin: 0 auto;
            padding: 10px 25px;
            line-height: 32px;
            border: 1px solid #0057a0;
            border-bottom-width: 3px;
            font-size: 10pt;
            -webkit-border-radius: 0.3rem;
            -moz-border-radius: 0.3rem;
            border-radius: 0.3rem;
        }
        .so-panel.so-primary{ border-color: #0057a0 }
        .so-panel.so-success{ border-color: #16a085 }
        .so-panel.so-warning{ border-color: #F9BF3B }
        .so-panel.so-danger { border-color: #F75C4C }
        .so-panel > .so-icon{
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 27px;
        }

    </style>
</head>
<body>

<div class="so-main-box" >

    <img src="<%- originUrl %>/public/images/logo-black.png" id="main-logo" />
    <div class="so-divider" ></div>
    <p style="clear: both" >
        <img id="reset-password-image" src="<%- originUrl %>/reset-password.svg" />
سلام <%- user.name %> عزیز، شما می توانید رمز عبور حسابتان را با استفاده از دکمه ی زیر تغییر دهید.
        <div style="display: block;position: relative;clear: both;" ></div>
    </p>
    <a class="so-btn-block so-success" href="<%- resetPassUrl %>" target="_blank" >تغییر رمز عبور</a>
    <span>و یا می توانید از لینک/آدرس زیر استفاده کنید:</span>
    <div style="direction: ltr;" >
        <a href="<%- resetPassUrl %>" target="_blank" ><%- resetPassUrl %></a>
    </div>
    <br/>
    <div class="so-panel so-danger" >
        <img class="so-icon" src="<%- originUrl %>/warning.svg" />
        <b>توجه !</b><br/>
        <p>این لینک پس از 24 ساعت و یا استفاده، از اعتبار خارج می شود.</p>
    </div>
    <br/>
    <div style="direction: ltr;" >
        E-Mail: <a href="mailto:info@storm-online.ir" target="_blank" >info@storm-online.ir</a><br/>
        Tel: <a href="tel:+982128427752" target="_blank" >+98 21 28427752</a>
    </div>

</div>

</body>
</html>