<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html style="direction: rtl; font-family: Aria, sans-serif, tahoma;">
<head>

</head>
<body style="direction: rtl; font-family: Aria, sans-serif, tahoma;">
<style type="text/css">
    *::before { direction: rtl !important; font-family: Aria, sans-serif, tahoma !important; }
    *::after { direction: rtl !important; font-family: Aria, sans-serif, tahoma !important; }
    .so-btn-block:active { border-bottom-width: 1px !important; padding-top: 6px !important; }
    ></style>
<div style="direction: rtl; font-family: Aria, sans-serif, tahoma; display: block; position: relative; width: 500px; max-height: 100%; min-height: 50px; line-height: 40px; margin: 0 auto; padding: 25px; border-color: #1abc9c; border-style: solid; border-width: 1px 1px 2px;">
    <img src="https://www.storm-online.ir/public/images/logo-black.png" style="direction: rtl; font-family: Aria, sans-serif, tahoma; display: block; position: relative; width: 120px; height: auto; margin: 10px auto; padding: 0;">
    <div style="direction: rtl; font-family: Aria, sans-serif, tahoma; display: block; width: 100%; height: 1px; background-color: #d0d0d0;"></div>
    <p style="text-align: right; direction: rtl; font-family: Aria, sans-serif, tahoma;" align="right"><%- user.name %> عزیز، نرم افزار حسابداری کسب و کار " <%- branch.name %>" شما به مدت 30 روز فعال می باشد.</p>
    <p style="direction: rtl; font-family: Aria, sans-serif, tahoma;">
        برای ورود، از دکمه ی زیر استفاده کنید:
    </p>
    <a href="<%- loginUrl %>/profile" target="_blank" style="direction: rtl; font-family: Aria, sans-serif, tahoma; display: block; position: relative !important; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; line-height: 40px; max-width: 250px; height: 50px; text-align: center; text-decoration: none; color: white; cursor: pointer; vertical-align: middle; border-bottom-width: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #1abc9c; margin: 10px auto; padding: 5px 10px; border-color: #16a085; border-style: none none solid;"><%- btn.text %></a>
    <span style="direction: rtl; font-family: Aria, sans-serif, tahoma;">و یا با استفاده از این لینک/آدرس وارد شوید:</span>
    <p style="direction: ltr; font-family: Aria, sans-serif, tahoma;">
        <a href="<%- loginUrl %>/profile" target="_blank" style="direction: rtl; font-family: Aria, sans-serif, tahoma;"><%- loginUrl %>/profile</a>
    </p>
    <p style="direction: rtl; font-family: Aria, sans-serif, tahoma;">
        <span style="direction: rtl; font-family: Aria, sans-serif, tahoma;">ساعت: </span><%- sendTime.time %><br style="direction: rtl; font-family: Aria, sans-serif, tahoma;">
        <span style="direction: rtl; font-family: Aria, sans-serif, tahoma;">تاریخ: </span><%- sendTime.date %>
    </p>
</div>
</body>
</html>
