<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
    <meta charset="utf-8" />
</head>
<body dir="rtl"
      style="font-family: Geneva,Tahoma,Verdana,sans-serif;color: #404040;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;" >

<div dir="rtl"
     style="font-family: Geneva,Tahoma,Verdana,sans-serif;color: #404040;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"
     align="center" >
    <!--Container-->
    <table width="500px" cellspacing="0" >
        <!--Header-->
        <tr>
            <td style="background: #4693D7;background-size: 100% 100%;background-position: center center;" height="118px" ><!--bgcolor="#4693D7"-->
                <table style="width: 100%;height: 100%;"
                       cellspacing="0"
                       cellpadding="24px" >
                    <tr>
                        <td style="width: 80px;max-width: 118px;max-height: 118px;" align="center" >
                            <table cellspacing="0"
                                   cellpadding="0"
                                   style="width: 75px;height: 75px;line-height: 65px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;" >
                                <tr>
                                    <td style="background: white;width: 100%;height: 100%;" >
                                        <a href="<%- originUrl %>"
                                           style="display: block;width: 100%;height: 100%;padding: 14px 5px;line-height: 75px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;" >
                                            <img style="max-width: 100%;max-height: 100%;vertical-align: middle;display: inline-block"
                                                 alt="Storm-Logo"
                                                 src="<%- originUrl %>/public/images/logo-black.png" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding: 24px 0 24px 24px;color: white;"
                            valign="middle"
                            align="right" >
                            <p style="font-size: 15px;line-height: 1.5" >
                                استورم <span style="font-size: 18px;" >|</span> نرم افزار حسابداری آنلاین<br/>
                                ارائه دهنده ی APIهای حسابداری
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--Body-->
        <tr>
            <td bgcolor="#e1e1e1" align="center" style="padding: 25px;" >
                <table cellspacing="0"
                       cellpadding="0" >
                    <!--Top Image-->
                    <tr>
                        <td style="background: url('<%- originUrl %>/public/images/email-branch-activation-bg-img.png') #b9e4ba no-repeat;background-size: 100% 100%"
                            height="305px"
                            valign="center"
                            align="center" >
                            <img style="max-width: 40%;max-height: 50%"
                                 alt="branch-logo"
                                 src="<%- branch.logo %>" />
                        </td>
                    </tr>
                    <!--Email Content-->
                    <tr>
                        <td style="background: white;padding: 25px;" >
                            <!--Content Grid-->
                            <table>
                                <tr>
                                    <td>
                                        <!--FlatUiColorPicker :: Jungle Green-->
                                        <p align="center" style="font-size: 24px;color: #26C281" >
                                            کسب و کار شما فعال شد
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 32px;" bgcolor="white" >
                                        <br/>
                                        <p>
                                            <%- user.name %> عزیز، نرم افزار حسابداری کسب و کار "<%- branch.name %>" شما به مدت 30 روز فعال می باشد.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br/>
                                        <p>
                                            برای ورود، از دکمه ی زیر استفاده کنید:
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 32px 0 25px 0;" >
                                        <a href="<%- loginUrl %>"
                                           target="_blank"
                                           style="display: inline-block;max-width: 100%;text-decoration: none;color: inherit;padding: 10px 25px;background: rgba(0,230,64,0.5);border: 1px solid rgb(0,230,64);-webkit-border-radius: .2rem;-moz-border-radius: .2rem;border-radius: .2rem;" >
                                            ورود به کسب و کار "<%- branch.name %>"
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 25px 0 0 0;" ></td>
                    </tr>
                    <!--Footer-->
                    <tr>
                        <td align="center" style="border: 4px dashed #e1e1e1;background: url('<%- originUrl %>/public/images/email-worldmap.png') white no-repeat;background-size: 75% auto;background-position: center center;" >
                            <!--Footer Content-->
                            <table style="width: 100%;" cellspacing="0" >
                                <tr><!--Logo & Address-->
                                    <td align="center" colspan="2" style="padding: 25px;" >
                                        <a href="<%- originUrl %>" target="_blank" >
                                            <img style="width: 100px;" alt="Storm-Logo" src="<%- originUrl %>/public/images/email-logo-grayscale-sm.png" />
                                        </a>
                                        <p>جنت آباد شمالی، چهارراه ایرانپارس، ساختمان 273</p>
                                    </td>
                                </tr>
                                <tr><!--Phone Numbers-->
                                    <td>
                                        <table cellspacing="0" style="width: 100%" >
                                            <tr>
                                                <td style="font-size: 12px;padding: 25px 50px 25px 10px" align="left" dir="ltr" >+98 21 46016695</td>
                                                <td style="width: 25%;padding: 25px 0 25px 25px;" align="right" >
                                                    <!--Icon Circle-->
                                                    <a href="tel:+982146016695" >
                                                        <div style="display: block;width: 35px;height: 35px;overflow: hidden;border: 1px solid #2c3e50;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" >
                                                            <table style="width: 35px;height: 35px;"
                                                                   cellpadding="0"
                                                                   cellspacing="0" >
                                                                <tr>
                                                                    <td style="background: white;" align="center" >
                                                                        <img alt="smartphone" src="<%- originUrl %>/public/images/email-phone.png" style="max-height: 20px;display: inline-block;margin: 0;" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table cellspacing="0" style="width: 100%" >
                                            <tr>
                                                <td style="font-size: 12px;padding: 25px 50px 25px 10px" align="left" dir="ltr" >+98 903 960 3096</td>
                                                <td style="width: 25%;padding: 25px 0 25px 25px;" align="right" >
                                                    <!--Icon Circle-->
                                                    <a href="tel:+989039603096" >
                                                        <div style="display: block;width: 35px;height: 35px;overflow: hidden;border: 1px solid #2c3e50;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" >
                                                            <table style="width: 35px;height: 35px;"
                                                                   cellpadding="0"
                                                                   cellspacing="0" >
                                                                <tr>
                                                                    <td style="background: white;" align="center" >
                                                                        <img alt="smartphone" src="<%- originUrl %>/public/images/email-smartphone.png" style="max-height: 20px;display: inline-block;margin: 0;" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr><!--Email Button-->
                                    <td colspan="2" align="center" style="padding: 32px 25px;" valign="middle" >
                                        <a href="mailto:info@storm-online.ir"
                                           style="display: inline-block;text-decoration: none;color: inherit;padding: 10px 25px;background: rgba(70,147,215,0.5);border: 1px solid rgb(70,147,215);-webkit-border-radius: .2rem;-moz-border-radius: .2rem;border-radius: .2rem;" >
                                            <img style="display: inline-block;max-height: 20px;vertical-align: middle"
                                                 alt="email-logo"
                                                 src="<%- originUrl %>/public/images/email-mail.png" /> به ما ایمیل بزنید
                                        </a>
                                    </td>
                                </tr>
                                <tr><!--Social Network Buttons-->
                                    <td align="center" colspan="2" style="padding: 25px;" >
                                        <p>ما را در صفحات مجازی دنبال کنید</p>
                                        <!--Icon Circle :: INSTAGRAM-->
                                        <a href="https://www.instagram.com/storm_software_group/" style="text-decoration: none" >
                                            <div style="display: inline-block;width: 35px;height: 35px;overflow: hidden;border: 1px solid #2c3e50;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" >
                                                <table style="width: 35px;height: 35px;"
                                                       cellpadding="0"
                                                       cellspacing="0" >
                                                    <tr>
                                                        <td style="background: white;" align="center" >
                                                            <img alt="smartphone" src="<%- originUrl %>/public/images/email-instagram-logo.png" style="max-height: 20px;display: inline-block;margin: 0;" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </a>
                                        <!--Icon Circle :: TELEGRAM-->
                                        <a href="https://t.me/STORMAPI" style="text-decoration: none" >
                                            <div style="display: inline-block;width: 35px;height: 35px;overflow: hidden;border: 1px solid #2c3e50;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" >
                                                <table style="width: 35px;height: 35px;"
                                                       cellpadding="0"
                                                       cellspacing="0" >
                                                    <tr>
                                                        <td style="background: white;" align="center" >
                                                            <img alt="smartphone" src="<%- originUrl %>/public/images/email-telegram-logo.png" style="max-height: 20px;display: inline-block;margin: 0;" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </a>
                                        <!--Icon Circle :: LINKEDIN-->
                                        <a href="https://www.linkedin.com/company-beta/13263871/" style="text-decoration: none" >
                                            <div style="display: inline-block;width: 35px;height: 35px;overflow: hidden;border: 1px solid #2c3e50;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" >
                                                <table style="width: 35px;height: 35px;"
                                                       cellpadding="0"
                                                       cellspacing="0" >
                                                    <tr>
                                                        <td style="background: white;" align="center" >
                                                            <img alt="smartphone" src="<%- originUrl %>/public/images/email-linkedin-logo.png" style="max-height: 20px;display: inline-block;margin: 0;" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </a>
                                        <!--Icon Circle :: FACEBOOK-->
                                        <a href="https://www.facebook.com/STORM-1885970561682373/" style="text-decoration: none" >
                                            <div style="display: inline-block;width: 35px;height: 35px;overflow: hidden;border: 1px solid #2c3e50;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" >
                                                <table style="width: 35px;height: 35px;"
                                                       cellpadding="0"
                                                       cellspacing="0" >
                                                    <tr>
                                                        <td style="background: white;" align="center" >
                                                            <img alt="smartphone" src="<%- originUrl %>/public/images/email-facebook-logo.png" style="max-height: 20px;display: inline-block;margin: 0;" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</div>

</body>
</html>