<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>

    <title></title>

    <link href="<%= clientUrl %>/core/dist/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="<%= clientUrl %>/core/dist/css/bootstrap/bootstrap-rtl.min.css" rel="stylesheet"/>
    <link href="<%= clientUrl %>/core/dist/css/toastr.min.css" rel="stylesheet"/>
    <link href="<%= clientUrl %>/core/dist/css/kendo/kendo.common.min.css" rel="stylesheet"/>
    <link href="<%= clientUrl %>/core/dist/css/kendo/kendo.bootstrap.min.css" rel="stylesheet"/>
    <link href="<%= clientUrl %>/core/dist/css/kendo/kendo.rtl.min.css" rel="stylesheet"/>

    <link href="<%= clientUrl %>/acc/content/fonts.min.css" rel="stylesheet"/>
    <link href="<%= clientUrl %>/acc/content/styles.css" rel="stylesheet"/>
</head>
<body class="k-rtl">
<div data-ng-controller="shellController">

    <dev-tag-block-ui></dev-tag-block-ui>

    <dev-tag-header toggle="toggle()"></dev-tag-header>
    <dev-tag-togglemenu menuitems="menuItems" toggleobservable="isToggleMenuOpen">
        <div ng-view class="shuffle-animation">


            <div class="waiting-overley">
                <div class="waiting-block">
                    <div class="waiting-block-spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>

            </div>
        </div>
    </dev-tag-togglemenu>
</div>
</body>
</html>

<script src="<%= clientUrl %>/core/dist/vendor.bundle.min.js"></script>

<script>
    require('js-helper');
    window.jQuery = require('jquery');
    require('JalaliDate');

    localStorage.setItem('translate', '<%- JSON.stringify(clientTranslation) %>');
</script>

<script src="<%= clientUrl %>/core/dist/core.bundle.js"></script>
<script src="<%= clientUrl %>/core/dist/core.template.bundle.js"></script>

<script src="<%= clientUrl %>/acc/dist/acc.bundle.js"></script>
<script src="<%= clientUrl %>/acc/dist/acc.template.bundle.js"></script>
