<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>

    <title><%- currentBranch.name %></title>

    <link href="/client/content/bootstrap/bootstrap.min.css?v=<%- version.css %>" rel="stylesheet"/>
    <link href="/client/content/bootstrap/bootstrap-rtl.min.css?v=<%- version.css %>" rel="stylesheet"/>
    <link href="/client/content/kendo/kendo.common.min.css?v=<%- version.css %>" rel="stylesheet"/>
    <link href="/client/content/kendo/kendo.bootstrap.min.css?v=<%- version.css %>" rel="stylesheet"/>
    <link href="/client/content/kendo/kendo.rtl.min.css?v=<%- version.css %>" rel="stylesheet"/>
    <link href="/client/bower_components/bootstrap-sweetalert/dist/sweetalert.css?v=<%- version.css %>"
          rel="stylesheet"/>
    <link rel="stylesheet" href="/client/bower_components/adm-dtp/dist/ADM-dateTimePicker.min.css"/>

    <link href="/client/content/stimulsoft/stimulsoft.viewer.office2013.whiteblue.css" rel="stylesheet">
    <link href="/client/content/stimulsoft/stimulsoft.designer.office2013.whiteblue.css" rel="stylesheet">

    <link href="/client/content/fonts.min.css?v=<%- version.css %>" rel="stylesheet"/>
    <link href="/client/content/storm-fonts.css?v=<%- version.css %>" rel="stylesheet"/>
    <link href="/client/content/styles.css?v=<%- version.css %>" rel="stylesheet"/>

</head>
<body class="k-rtl">


<shell>
    <div class="waiting-overley">
        <div class="waiting-block">
            <div class="waiting-block-spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>

    </div>
</shell>

</body>
</html>

<script src="/client/dist/vendor.bundle.min.js?v=<%- version.vendor %>"></script>
<!--<script src="/client/dist/stimulsoft.all.min.js"></script>-->
<script src="/client/lib/stimulsoft.ultimate/stimulsoft.reports.js"></script>
<script src="/client/lib/stimulsoft.ultimate/stimulsoft.viewer.js"></script>
<script src="/client/lib/stimulsoft.ultimate/stimulsoft.designer.js"></script>

<script>
    require('js-helper');
    window.jQuery = window.$ = require('jquery');
    window.JSZip = require('jszip');

    localStorage.setItem('translate', '<%- JSON.stringify(clientTranslation) %>');
    localStorage.setItem('currentUser', '<%- currentUser %>');
    localStorage.setItem('currentBranch', '<%- JSON.stringify(currentBranch) %>');
    localStorage.setItem('dimensionCategories', '<%- JSON.stringify(dimensionCategories) %>');
    localStorage.setItem('reports', '<%- JSON.stringify(reports) %>');

    <% if(env == 'development') { %>
    localStorage.setItem('reportTemplate', '<%- reportTemplate %>');
    <% } else { %>
    Stimulsoft.Base.Localization.StiLocalization.setLocalizationFile('/client/content/fa.xml', true);
    <% } %>

    <% fonts.forEach(function (font) { %>
    Stimulsoft.Base.StiFontCollection
        .addOpentypeFontFile('/client/fonts/<%- font.fileName %>', '<%- font.name %>');
    <% }) %>

    Stimulsoft.Report.Dictionary.StiFunctions.addFunction(
        "devFunction",
        "digitToWord",
        "digitToWord", "", "",
        String, "", [Number], ["Amount"], [""],
        window.digitToWord);

    Stimulsoft.Report.Dictionary.StiFunctions.addFunction(
        "devFunction",
        "dateToWord",
        "dateToWord", "", "",
        String, "", [String], ["Date"], [""],
        window.dateToWord);
</script>

<script src="/client/dist/acc.bundle.js?v=<%- version.acc %>"></script>
<script src="/client/dist/acc.template.bundle.js?v=<%- version.template %>"></script>
