<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=: 'Journal' | translate %></title>

    <link href="http://dev-storm:1000/client/content/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://dev-storm:1000/client/content/bootstrap/bootstrap-rtl.min.css" rel="stylesheet"/>
    <link href="http://dev-storm:1000/client/content/fonts.min.css" rel="stylesheet"/>

    <style>
        body {
            font-family: "BKoodakBold", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
            direction: rtl;
        }

        .box {
            border: 1px solid black !important;
            height: 40px;
            vertical-align: middle;
            font-size: 12px;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-bottom: 3px;
        }

        .report-container {
            padding: 50px;
        }

        .report-field-title {
            background-color: darkgrey !important;
            -webkit-print-color-adjust: exact;
        }

        .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
            border: 1px solid black !important;
        }

        .table-bordered > thead > tr > th{
            text-align: center;
        }

    </style>
</head>
<body>
<div class="report-container">
    <div class="col-xs-3 report-field-title">
        <div class="row box">
            <%=: 'Temporary number' | translate %>
        </div>
        <div class="row box">
            <%=: 'Temporary date' | translate %>
        </div>
        <div class="row box">
            <%=: 'Number' | translate %>
        </div>
        <div class="row box">
            <%=: 'Date' | translate %>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="row box">
            <%=: journal.temporaryNumber %>
        </div>
        <div class="row box">
            <%=: journal.temporaryDate %>
        </div>
        <div class="row box">
            <%=: journal.number %>
        </div>
        <div class="row box">
            <%=: journal.date %>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row box report-field-title" >
            <%=: 'Description' | translate %>
        </div>
        <div class="row box" style="height: 120px;text-align: justify;padding: 10px;">
            <%=: journal.description %>
        </div>

    </div>

    <table class="table table-bordered" style="font-size: 12px">
        <thead>
        <tr>
            <th><%=: dimension1Title %></th>
            <th><%=: 'Detail account' | translate %></th>
            <th><%=: 'Subsidiary ledger account' | translate %></th>
            <th><%=: 'General ledger account' | translate %></th>
            <th><%=: 'Account title' | translate %></th>
            <th><%=: 'Article' | translate %></th>
            <th><%=: 'Cheque' | translate %></th>
            <th><%=: 'Debtor' | translate %></th>
            <th><%=: 'Creditor' | translate %></th>
        </tr>
        </thead>
        <tbody>
        <% journal.journalLines.forEach(function(line){ %>

        <tr>
            <td><%=: line.dimension1Code %>                      </td>
            <td><%=: line.detailAccountCode %>            </td>
            <td><%=: line.subsidiaryLedgerAccountCode %> </td>
            <td><%=: line.generalLedgerAccountCode %>    </td>
            <td><%=: line.detailAccountTitle %>                      </td>
            <td><%=: line.article %>                   </td>
            <td><%=: line.chequeNumber %>                    </td>
            <td><%=: line.debtor | amount %>                    </td>
            <td><%=: line.creditor | amount %>                  </td>
        </tr>

        <%})%>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <%=: journal.sumDebtor | digitToWord %>
                    <%=: 'Rial' | translate %>
                </td>
                <td><%=: journal.sumDebtor | amount %></td>
                <td><%=: journal.sumCreditor | amount %></td>
            </tr>
        </tfoot>
    </table>
</div>
</body>
</html>