<!DOCTYPE html>

<html ng-cloak>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>

    <title ng-bind="branch.name">STORM</title>

    <link href="/public/css/acc.min.css" rel="stylesheet"/>

    <base href="/acc/" >
</head>
<body class="rtls k-rtl ">
<shell>
    <div class="waiting-overley">
        <div class="start-waiting-block">
            <div style="margin-bottom: 30px">
                <img src="/public/images/logo.white.png" style="height: 70px">
            </div>
            <div class="progress-line"></div>
        </div>

        <div class="start-waiting-block-accountant" >
            <div class="middle-box text-center animated fadeInDown" style="margin-top: 250%;">
                <img src="/public/images/account-symbol.jpg" style="border-radius:50%"
                     class="img-responsive img-center">
            </div>
        </div>
    </div>


</shell>

</body>

</html>
<script>
    String.prototype.format = String.prototype.f = function () {
        var s = this,
            i = arguments.length;

        while (i--) {
            s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
        }
        return s;
    };
</script>

<script src="/public/js/acc.bundle.min.js"></script>
<script src="/public/js/acc.template.bundle.js"></script>

<script>

    localStorage.setItem('today', '<%- today %>');
    localStorage.setItem('translate', '<%- JSON.stringify(clientTranslation) %>');
    localStorage.setItem('currentUser', '<%- JSON.stringify(currentUser) %>');
    localStorage.setItem('reports', '<%- JSON.stringify(reports) %>');
    localStorage.setItem('env', '<%- env %>')

</script>

