<!DOCTYPE html>

<html ng-cloak>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta name="token" content="<%- token %>"/>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>

    <title ng-bind="branch.name">STORM</title>

    <link href="/public/css/acc.min.css?v=<%- version.app %>" rel="stylesheet"/>

    <base href="/acc/" >
</head>
<body class="rtls k-rtl ">
<shell>
    <div class="waiting-overley">
        <div class="start-waiting-block">
            <div style="margin-bottom: 30px">
                <img src="/public/images/logo.png" style="height: 70px">
            </div>
            <div class="progress-line"></div>
        </div>
    </div>

</shell>

</body>

</html>
<script>
    String.prototype.format = String.prototype.f = function () {
        var s = this,
            i = arguments.length;

        while (i--) {
            s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
        }
        return s;
    };
</script>

<script src="/public/js/acc.bundle.min.js?v=<%- version.app %>"></script>
<script src="/public/js/acc.template.bundle.js?v=<%- version.app %>"></script>

<script>

    localStorage.setItem('today', '<%- today %>');
    localStorage.setItem('translate', '<%- JSON.stringify(translation) %>');
    localStorage.setItem('currentUser', '<%- JSON.stringify(currentUser) %>');
    localStorage.setItem('reports', '<%- JSON.stringify(reports) %>');
    localStorage.setItem('env', '<%- env %>');

</script>

<% if (env != 'development') {%>
<script type="text/javascript">window.vasleSettings = {
    app_id: "xwiIitqQ",
        user_id: '<%- currentUser.id %>',
        fullname:'<%- currentUser.name %>',
        email: '<%- currentUser.email %>',
};</script>
<script type="text/javascript"> !function () {
        function t() {
            var t = n.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = "https://www.retain.ir/app/xwiIitqQ/widget/?" + Math.random().toString(34).slice(2);
            var e = n.getElementsByTagName("script")[0];
            e.parentNode.insertBefore(t, e)
        }

        var e = window, a = e.Vasle;
        if ("function" == typeof a) a("reattach_activator"), a("update", e.vasleSettings); else {
            var n = document, c = function () {
                c.c(arguments)
            };
            c.q = [], c.c = function (t) {
                c.q.push(t)
            }, e.Vasle = c, e.attachEvent ? e.attachEvent("onload", t) : e.addEventListener("load", t, !1)
        }
    }();
</script>
<% } %>

