<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=: 'Register' | translate %></title>

    <link href="client/content/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="client/content/fonts.min.css" rel="stylesheet"/>
    <link href="client/content/styles.css" rel="stylesheet"/>
    <style>
        .container {
            direction: rtl;
            background-image: url("content/images/login-background.jpg");
            box-sizing: border-box;
            display: block;
            height: 100%;
            left: 0 !important;
            line-height: 1;
            position: fixed;
            top: 0 !important;
            transition: background-color 0.5s linear 0s;
            vertical-align: middle;
            width: 100%;
            z-index: 1060;
        }

        .login-container {
            background-color: transparent;
            background-position: 48% 0;
            display: block;
            height: 64px;
            left: 50%;
            line-height: 1;
            margin: 0;
            position: absolute;
            top: 20%;
            transform: translateX(-50%) translateY(-50%);
            width: 30%;
            z-index: 1000;
        }

        .panel-title {
            font-size: 20px;
        }

        .has-feedback label ~ .form-control-feedback {
            top: 20px;
        }
    </style>
</head>
<body ng-app="app" ng-controller="ctrl" ng-cloak>
<form method="post" name="form" ng-submit="submit(form)" novalidate>

    <div class="container">
        <div class="login-container">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center"><%=: 'Register' | translate %></h3>
                </div>
                <div class="panel-body content-panel-body">

                    <div class="form-group"
                         ng-class="{ 'has-error' : form.name.$invalid && form.name.$dirty }">
                        <label class="label-control"><%=: 'Name' | translate %></label>
                        <input
                                type="text"
                                class="form-control input-lg"
                                name="name"
                                ng-model="register.name"
                                required
                                minlength="3"
                        />

                    <span ng-if="form.name.$dirty">
                        <label ng-if="form.name.$error.required"
                               class="help-block"><%=: 'This field is required' | translate %></label>
                        <label ng-if="form.name.$error.minlength"
                               class="help-block"><%=: 'This field should be at least 3 character' | translate %></label>
                    </span>

                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : form.username.$invalid && form.username.$dirty }">
                        <label class="label-control"><%=: 'User name' | translate %></label>
                        <input
                                type="text"
                                class="form-control input-lg"
                                name="username"
                                ng-model="register.username"
                                required
                                minlength="3"
                                unique-username
                        />
                        <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>

                        <span ng-if="form.username.$dirty">
                            <label ng-if="form.username.$error.required"
                                   class="help-block"><%=: 'This field is required' | translate %></label>
                            <label ng-if="form.username.$error.minlength"
                                   class="help-block"><%=: 'This field should be at least 3 character' | translate %></label>
                            <label ng-if="form.username.$error.unique"
                                   class="help-block"><%=: 'The username is duplicated' | translate %></label>

                        </span>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : form.password.$invalid && form.password.$dirty }">
                        <label class="label-control"><%=: 'Password' | translate %></label>
                        <input
                                type="password"
                                class="form-control input-lg"
                                name="password"
                                ng-model="register.password"
                                required
                                minlength="6"/>

                        <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>

                        <span ng-if="form.password.$dirty">
                            <label ng-if="form.password.$error.required"
                                   class="help-block"><%=: 'This field is required' | translate %></label>
                            <label ng-if="form.password.$error.minlength"
                                   class="help-block"><%=: 'This field should be at least 6 character' | translate %></label>
                        </span>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : form.confirmPassword.$invalid && form.confirmPassword.$dirty }">
                        <label class="label-control"><%=: 'Confirm password' | translate %></label>
                        <input
                                type="password"
                                class="form-control input-lg"
                                name="confirmPassword"
                                ng-model="register.confirmPassword"
                                required
                                minlength="6"
                                ng-match="register.password"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>

                        <span ng-if="form.confirmPassword.$dirty">
                           <label ng-if="form.confirmPassword.$error.required"
                                  class="help-block"><%=: 'This field is required' | translate %></label>
                            <label ng-if="form.confirmPassword.$error.minlength"
                                   class="help-block"><%=: 'This field should be at least 6 character' | translate %></label>
                            <label ng-if="form.confirmPassword.$error.match"
                                   class="help-block"><%=: 'Password and Confirm password do not match' | translate %></label>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg btn-block">
                        <i class="glyphicon glyphicon-plus"></i>
                        <%=: 'Register' | translate %>
                    </button>
                    <br/>
                    <a href="/login" class="btn btn-primary">
                        <i class="glyphicon glyphicon-log-in"></i>
                        <%=: 'Entry' | translate %>
                    </a>
                </div>
            </div>

            <div>

            </div>
        </div>

    </div>


</form>

<script src="content/angular.min.js"></script>
<script>
    var directiveId = 'ngMatch';
    angular.module('app', [])
            .controller('ctrl', function ($scope, $http) {
                $scope.register = {
                    name: '',
                    username: '',
                    password: '',
                    confirmPassword: ''
                };

                $scope.submit = function (form) {
                    debugger;
                    if (form.$invalid)
                        return setDirtyForm(form);

                    $http.post('/register', $scope.register)
                            .success(function (result) {
                                if (result.isValid)
                                    window.location = '/login';
                            })
                            .error(function (error) {

                            })
                };

                function setDirtyForm(form) {
                    angular.forEach(form.$error, function (type) {
                        angular.forEach(type, function (field) {
                            field.$setDirty();
                        });
                    });
                }
            })
            .directive(directiveId, function ($parse) {
                return {
                    restrict: 'A',
                    require: '?ngModel',
                    link: function (scope, elem, attrs, ctrl) {
                        if (!ctrl) return;
                        if (!attrs[directiveId]) return;

                        var firstPassword = $parse(attrs[directiveId]);

                        var validator = function (value) {
                            var temp = firstPassword(scope),
                                    v = value === temp;
                            ctrl.$setValidity('match', v);
                            return value;
                        }

                        ctrl.$parsers.unshift(validator);
                        ctrl.$formatters.push(validator);
                        attrs.$observe(directiveId, function () {
                            validator(ctrl.$viewValue);
                        });
                    }
                }
            })
            .directive('uniqueUsername', function ($http) {
                return {
                    restrict: 'A',
                    require: '?ngModel',
                    link: function (scope, elem, attrs, ctrl) {
                        if (!ctrl) return;


                        var validator = function (value) {
                            if (!value) return;

                            $http.get('register/is-unique-username/' + value)
                                    .success(function (result) {
                                        ctrl.$setValidity('unique', !result.isValid);
                                    });

                            return value;
                        }

//                        ctrl.$parsers.unshift(validator);
//                        ctrl.$formatters.push(validator);

                        elem.on('blur', function () {
                            validator(ctrl.$viewValue);
                        });
                    }
                }
            });
</script>
</body>
</html>