<!DOCTYPE html>
<html ng-app="app" lang="fa">
<head>
    <meta charset="UTF-8">
    <title>نرم افزار حسابداری آنلاین استورم</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="currentUser" content="<%- currentUser %>">
    <meta name="currentUserImage" content="<%- currentUserImage %>">
    <script src="https://www.google.com/recaptcha/api.js?hl=fa&onload=reCaptchaOnLoad&render=explicit"
            async defer id="reCaptchaScript" ></script>
    <script type="text/javascript" >

        var reCaptchaWidget;
        var reCaptchaOnLoad = function(){

            reCaptchaWidget = grecaptcha.render('g-recaptcha-elem',{
                'sitekey' : '6LcB-ysUAAAAAE_uDz0N0IiwjdwFGbqUTfcFi_Ey',
                'theme' : 'light'
            });

        };
        var reCaptchaDestroy = function(){

            reCaptchaWidget = null;
            $('#reCaptchaScript').remove();

        };

    </script>
    <base href="/">
    <link href="/public/css/acc.min.css?v=<%- version.site %>" rel="stylesheet">
</head>
<body style="direction: rtl">
<shell>
    <div class="waiting-overley">
        <div class="start-waiting-block">
            <div style="margin-bottom: 30px">
                <img src="/public/images/logo.png" style="height: 70px">
            </div>
            <div class="progress-line"></div>
        </div>
    </div>
</shell>
</body>

<script>
    localStorage.setItem('translate', '<%- JSON.stringify(clientTranslation) %>');
    localStorage.setItem('currentUser', '<%- currentUser %>');
    localStorage.setItem('env', '<%- env %>');
</script>
<script src="/public/js/storm.bundle.min.js"></script>
<script src="/public/js/storm.template.bundle.js"></script>

<% if(env !== 'development') { %>
<script type="text/javascript">window.vasleSettings = {app_id: "xwiIitqQ"};</script>
<script type="text/javascript"> !function () {
        function t() {
            var t = n.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = "https://www.retain.ir/app/xwiIitqQ/widget/?" + Math.random().toString(34).slice(2);
            var e = n.getElementsByTagName("script")[0];
            e.parentNode.insertBefore(t, e)
        }

        var e = window, a = e.Vasle;
        if ("function" == typeof a) a("reattach_activator"), a("update", e.vasleSettings); else {
            var n = document, c = function () {
                c.c(arguments)
            };
            c.q = [], c.c = function (t) {
                c.q.push(t)
            }, e.Vasle = c, e.attachEvent ? e.attachEvent("onload", t) : e.addEventListener("load", t, !1)
        }
    }();
</script>
<% } %>

</html>

